 
.formContainer {
    position: relative;
    width: 350px;
    height: 100%;
    border-radius: 20px;
    padding: 40px;
    /* box-sizing: border-box; */
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.logoContainer {
    width:130px;
    height:130px;
    margin-left: 30%;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    position: relative;
    
}

.logo {
    border-radius: 50%;
}

.inputs {
    text-align: left;
    margin-top: 10px;
}

.label, .input, .button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.label {
    margin-bottom: 4px;
    margin-top: 12px;
    font-family: 'Josefin Sans', sans-serif;
}

.input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 45px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;

}

.input::placeholder {
    color: gray;
}

.button {
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

.button ::hover {
    box-shadow: none;
}
  
