html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#rightItems{
  margin-left: 24px;
}
.item {
  background-color: #21262b;
  cursor: pointer;
  padding: 24px;
  margin-top: 24px;
  display: flex;
  /* grid-template-columns: 1fr 11fr; */
  color: aliceblue;
}
.img {
  border-radius: 100%;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  -ms-border-radius:100%;
  -o-border-radius:100%;
}

.imgContainer {
  margin: auto;
}
 
#center {
  text-align: center;
}

#centerContent {
  justify-content: center;
}

#brand {
  font-weight: bold;
  font-size: 1.5rem;
}
.status {
  background-color: #d4d4d4;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 10;
  margin-top: 5px;
}
.item {
  background-color: #21262b;
  cursor: pointer;
  padding: 24px;
  margin-top: 24px;
  display: flex;
  grid-template-columns: 1fr 11fr;
  color: aliceblue;
}