html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
 
.card{
  display: flex;
  flex-flow: column wrap;
  width: 500px;
  padding: 10px;
  border: 5px solid rgb(0, 0, 0);
  background: url("https://www.pngkey.com/png/full/951-9515208_business-card-background-black-and-white-visiting-images.png");
  justify-content: space-between;
  align-content: space-between;
}
.p_pic{
  border-radius: 50%;
}
.card-header{
display: flex;
align-items: center;
justify-content: left;
padding: 10px;
}
#qrCodeEl{
  left: 50px;
  margin: 10;
}
.card-content{
  /* border:3px solid rgb(0, 0, 0); */
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.details{
  /* border: 2px solid rgb(224, 0, 0); */
  width: 100%;
  text-align:right;
  float: right;
}
.container{
  text-align:center;
}
.container{
  display: flex;
  justify-content: space-between;

}
.container > div{
  width: 100px;
  height : 100px;
  /* background:red; */
  border: 1px solid;
}
h3{
  margin: 0;
}
.float-container {
   /* border: 3px solid rgb(255, 0, 0); */
  padding: 20px;
  width: 100%;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  /* border: 2px solid rgb(0, 0, 0); */
}  
.float-child2 {
  width: 50%;
  float: left;
  padding: 50px;
  /* border: 2px solid rgb(0, 0, 0); */
   
}  